@font-face {
    font-family: Nunito Sans; /* Гарнитура шрифта */
    src: url(../fonts/NunitoSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

::-webkit-scrollbar {
    background-color: #443662FF;
    width: 12px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #8551e0), color-stop(1, #88b6dc));
    border-radius: 10px;
}
body{
    margin: 0;
}
.body {
    min-height: calc(100vh - 30px);
    color: #EEE3F3;
    padding-top: 110px;
    background: linear-gradient(135deg, #443662, rgb(61, 44, 97)) no-repeat center top/cover;
    font-family: 'Nunito Sans', sans-serif;
}

code {
    box-shadow: 8px 7px 25px 13px rgba(45, 45, 65, 0.5);
    border-radius: 34px;
}
pre{
    overflow: auto;
    width: 100%;
    margin-bottom: 0;
}

div p {
    line-height: 1.56;
    margin-bottom: 0;
    font-size: 18px;
}
.col-auto{
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container {
    padding-right: 204px;
    padding-left: 204px;
    margin-right: auto;
    margin-left: auto;
}

.m-top-3 {
    margin-top: 1rem !important;
}
.m-bottom-3 {
    margin-bottom: 1rem !important;
}
.m-bottom-2 {
    margin-bottom: 0.66rem !important;
}
.m-bottom-1 {
    margin-bottom: 0.33rem !important;
}
.m-top-6{
    margin-top: 60px;
}

.searchBox {
    width: 200px;
    height: 30px;
    background: #333333;
    border-radius: 20px 0px 0px 20px;
}
.searchBoxIcon{
    width: 40px;
    height: 30px;
    background: #333333;
    border-radius: 0px 20px 20px 0px;
}
.searchBoxIcon:hover{
    background: #5d5a5a;
    cursor: pointer;
}
.right-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}
input:focus-visible {
    outline-offset: 0px;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
input{
    border-width: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #EEE3F3;
}
.header{
    position: fixed;
    width: 100%;
    height: 110px;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #564b7c, rgb(73, 56, 119)) no-repeat center top/cover;
}
.menuItem{
    margin-left: 52px;
    text-decoration: none;
    color: #EEE3F3;
}
.code-right-padding{
    padding-right: 170px;
}
@media (max-width: 576px) {
    .smallPagination{
        display: flex !important;
    }
    .bigPagination{
        display: none !important;
    }
    .paginationArea{
        display: block !important;
    }
    .code-right-padding {
        padding-right: 0px;
    }
}

@media (max-width: 768px) {
    .code-right-padding {
        padding-right: 0 !important;
    }
    .right-menu{
        display: none;
    }
    #nav-icon{
        display: block !important;
        margin: auto 10px auto auto;
    }
    .slideArrow{
        display: none;
    }
    .wrapper{
        padding: 0 !important;
        gap: 25px !important;
        min-height: 260px !important;
    }
    .wrappedCard {
        min-width: 215px !important;
        height: 200px !important;
        border-radius: 20px !important;
    }
    .cardHeader{
        font-size: 22px !important;
    }
    .javaLogoSize{
        width:90px !important;
        height:90px !important;
    }
    .mavenLogoSize{
        width:88px !important;
        height:30px !important;
    }
    .springLogoSize{
        width: 80px !important;
        height: 45px !important;
    }
    .sample{
        font-size: 18px !important;
        padding-left: 10px !important;
    }
    .sampleNumber{
        font-size: 22px !important;
        padding-left: 10px !important;
    }
    .cardArrow{
        padding-right: 10px !important;
    }
}

@media (max-width: 992px) {
    .code-right-padding {
        padding-right: 0px;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (max-width: 1200px) {
    .code-right-padding {
        padding-right: 50px;
    }
}

#nav-icon {
    display: none;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    left: 3px;
}

#nav-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 31px;
    left: 3px;
}
#nav-icon{
    width: 40px;
    height: 30px;
    position: relative;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #EEE3F3;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#sidebar {
    height: auto;
    width: 0;
    position: relative;
    z-index: 1;
    margin-left: auto;
    background: linear-gradient(135deg, #564b7c, rgb(73, 56, 119)) no-repeat center top/cover;
    overflow-x: hidden;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    padding-top: 15px;
}
#sidebar.open {
    height: max-content;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-left: auto;
    background: linear-gradient(135deg, #564b7c, rgb(73, 56, 119)) no-repeat center top/cover;
    overflow-x: hidden;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
    padding-top: 15px;
}
#panelTool.hidden{
    z-index: -1;
}
ul{
    list-style-type: none;
}

.burgerItem{
    text-decoration: none;
    color: #EEE3F3;
    font-size: 16px;
}
.footer{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    line-height: 30px;
    padding: 10px;
    display: flex;
    color: #198f1c;
    background: #2d2d2d;
    justify-content: center
}

.wrapper {
    max-width: 75%;
    min-height: 345px;
    display: flex;
    align-items: center;
    gap:50px;
    overflow-x: auto;
    padding: 0 20px;
    transition: 0.2s all;
}

.wrapper::-webkit-scrollbar {
    height: 7px !important;
    background-color: unset;
}

.wrappedCard{
    min-width: 350px;
    height: 280px;
    background: linear-gradient(314.9deg, #90D4D9 17.54%, rgba(163, 144, 217, 0.7) 94.67%);
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 37px;
    cursor: pointer;
    transition: 0.4s all;
}
.wrappedCard:hover{
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.25);
}
.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardHeader{
    display: flex;
    height: 80%;
    width: -webkit-fill-available;
    font-size: 34px;
}
.cardLogo{
    width: 50%;
    margin-right: auto;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    padding-top: 30px;
}
.cardTitle{
    width: 50%;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 600;
}
.cardFooter{
    display: flex;
    height: 20%;
    width: -webkit-fill-available;
    align-items: center;
}
.slideArrow{
    transition: 0.4s all;
    cursor: pointer;
    opacity: 0.3;
}
.slideArrow:hover{
    opacity: 1;
}
.javaLogoSize{
    width:150px;
    height:150px;
}
.mavenLogoSize{
    width: 150px;
    height: 50px;
}
.springLogoSize{
    width:150px;
    height:75px;
}
.sample{
    font-size: 24px;
    padding-left: 20px
}
.sampleNumber{
    font-size: 32px;
    padding-left: 20px
}
.cardArrow{
    display:flex;
    justify-content: end;
    padding-right: 40px;
    width: -webkit-fill-available;
}
.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: separate;
}
.table thead th {
    font-weight: normal;
    text-align: left;
    border: none;
    color: #979797;
    padding: 10px 15px;
    background-color: #100f0f;
    border-bottom: 1px solid white;
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 0;
}
.table thead tr th:last-child {
    border-radius: 0 8px 0 0;
}
.table tbody td {
    text-align: left;
    border-color:#333333;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background-color: #333333;

}
.table tbody tr:nth-child(odd){
    background-color: #100f0f;
}
.table tbody tr:last-child td:first-child{
    border-radius: 0 0 0 8px;
}
.table tbody tr:last-child td:last-child{
    border-radius: 0 0 8px 0;
}
.paginationArea{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.smallPagination{
    display: none;
    justify-content: space-between;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    text-decoration: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
    background-color: #281f38;
    color: #9f97b0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-dark {
    color: #fff;
    background-color: #100f0f;
}
.btn-dark-selected {
    color: #fff;
    border-color: blueviolet;
    background-color: #100f0f;
}
.btn-grey {
    color: #fff;
    background-color: #333333;
}
.btn-dark-selected:hover {
    color: blueviolet;
    border-color: blueviolet;
    background-color: #100f0f;
}
.btn-grey:hover {
    color: blueviolet;
    background-color: #333333;
}

.btn-dark:hover {
    color: #fff;
    background-color: #100000;
}
.font-small{
    font-size: 12px !important;
}

.form-floating {
    position: relative;
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}
.form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        transition: none;
    }
}
.form-floating > .form-control,
.form-floating > .form-control-plaintext {
    padding: 1rem 0.75rem;
}
.form-floating > .form-control::-moz-placeholder, .form-floating > .form-control-plaintext::-moz-placeholder {
    color: transparent;
}
.form-floating > .form-control::placeholder,
.form-floating > .form-control-plaintext::placeholder {
    color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown), .form-floating > .form-control-plaintext:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown),
.form-floating > .form-control-plaintext:focus,
.form-floating > .form-control-plaintext:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control-plaintext ~ label {
    border-width: 1px 0;
}
.form-control {
    display: block;
    width: 100%;
    max-height: 25px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: 0 0;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}
.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    padding: 55px 55px 37px;
    background: #9152f8;
    background: -webkit-linear-gradient(top,#7579ff,#b224ef);
    background: -o-linear-gradient(top,#7579ff,#b224ef);
    background: -moz-linear-gradient(top,#7579ff,#b224ef);
    background: linear-gradient(top,#7579ff,#b224ef);
}
@media (max-width: 630px) {
    .wrap-login100{
        margin-left: 20px;
        margin-right: 20px;
    }
    .loginHintContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .forgotPassword{
        display: block;
        font-size: 13px;
        top: -15px;
        position: relative;
    }
    .mobileTop20{
        margin-top: 20px;
    }
}
.login100-form{
    width: 100%;
}
.login100-form-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.containerLogin{
    background: linear-gradient(135deg, #443662, rgb(61, 44, 97)) no-repeat center top/cover;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,.24);
    margin-bottom: 30px;
    color: white;
    left: 0;
    width:-webkit-fill-available
}
.wrap-input100:focus{
    transition: all .4s;
    border-bottom: 2px solid rgb(255, 255, 255);;
}
.login100-form-btn {
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #fff;
    position: relative;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .6s;
}
.login100-form-btn:hover {
    color: #fff;
    background: #9152f8;
    background: -webkit-linear-gradient(bottom,#7579ff,#b224ef);
    background: -o-linear-gradient(bottom,#7579ff,#b224ef);
    background: -moz-linear-gradient(bottom,#7579ff,#b224ef);
    background: linear-gradient(bottom,#7579ff,#b224ef);
    transition: all .6s;
    cursor: pointer;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.loginHint{
    text-decoration: none;
    color: #d0cece;
    font-size: 15px;
}

.smallWrap{
    display: flex;
    flex-wrap: nowrap;
}

@media (max-width: 756px) {
    .smallWrap{
        flex-wrap: wrap;
    }
}
