<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        text-align: center;
        display: table;
        background: black;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    div,span{
        font-family: monospace;
        font-size: 10em;
        position: absolute;
        color: #0F0;
        left: 0;

    }
</style>
<body>
<canvas id="matrix-canvas"></canvas>
<script>
    var c = document.getElementById("matrix-canvas");
    var ctx = c.getContext("2d");

    c.height = window.innerHeight;
    c.width = window.innerWidth;
    var matrix = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890123456789";
    matrix = matrix.split("");

    var font_size = 10;
    var columns = c.width / font_size;
    var drops = [];
    for (var x = 0; x < columns; x++)
        drops[x] = 1;

    function draw() {
        ctx.fillStyle = "rgba(0, 0, 0, 0.04)";
        ctx.fillRect(0, 0, c.width, c.height);

        ctx.fillStyle = "#0F0";
        ctx.font = font_size + "px arial";
        for (var i = 0; i < drops.length; i++) {
            var text = matrix[Math.floor(Math.random() * matrix.length)];
            ctx.fillText(text, i * font_size, drops[i] * font_size);

            if (drops[i] * font_size > c.height && Math.random() > 0.975)
                drops[i] = 0;

            drops[i]++;
        }
        ctx.font="48px Arial"
        ctx.fillStyle="rgba(0,255,0,0.5)"
        ctx.textAlign="center"
        ctx.globalAlpha=0.5
        ctx.fillText("Error 500 internal server error",c.width/2,c.height/2)
        ctx.globalAlpha=1
    }

    setInterval(draw, 35);
</script>
</body>
</html>