<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/myJs/highlight.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/Main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
</head>
<style>
    textarea {
        color: #a9b7c6;
        background: #282b2e;
        border-radius: 34px;
        padding-top: 13px;
        padding-bottom: 13px;
        width: 100%;
        white-space: nowrap;
        border: none;
    }

    .panelTool {
        position: fixed;
        width: 100%;
        left: 0;
    }

    .form-control-toolBar {
        display: block;
        border: none;
        padding: 6px 9px;
        color: aliceblue;
        background: darkviolet;
        background-clip: padding-box;
        border-radius: 0.25rem;
        margin-right: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .okButton {
        padding: 6px 9px;
        background: darkviolet;
        border: none;
        color: aliceblue;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .6s;
    }

    .cursor-pointer:hover {
        cursor: pointer;
    }

    .okButton:hover {
        box-shadow: 0px 2px 4px 2px rgba(106, 255, 248, 0.65);
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        -moz-transition: all .4s;
        transition: all .6s;
    }

    .button {
        background-color: #e79393;
        border: none;
        border-radius: 5px;
        padding: 5px;
        color: aliceblue;
        text-decoration: none;
        cursor: pointer;
        margin-left: 10px;
    }

    .delete:hover {
        background-color: red;
    }

    .space-between {
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }
</style>
<body>
<div class="container body">
    <div th:replace="~{header::header}"></div>

    <div>
        <div id="panelTool" class="panelTool m-top-3 justify-center">
            <button class="form-control-toolBar cursor-pointer"
                    onclick="addCode()">+ Code
            </button>
            <select class="form-control-toolBar" name="element_type">
                <option value="p">paragraph</option>
                <option value="h2">h2</option>
                <option value="h3">h3</option>
            </select>
            <select class="form-control-toolBar" name="element_position">
                <option value="text-align:left;">left</option>
                <option value="text-align:center;">center</option>
                <option value="text-align:right;">right</option>
            </select>
            <button class="okButton" id="apply_change">Apply</button>
        </div>
    </div>
    <div class="m-top-6" id="contentArea" th:if="${sample.id!=null}" th:utext="${sample.innerHtml}">
    </div>
    <div class="m-top-6" id="contentArea" th:if="${sample.id==null}">

            <h2 id="header" contenteditable="true" style="text-align: center">Your header</h2>

    </div>
    <div style="display: flex;justify-content: flex-end;padding: 30px">
        <form th:action="@{/saveSample}" method="post">
            <input th:if="${sample.id!=null}" name="sample" type="hidden" th:value="${sample.id}">
            <input type="hidden" name="contentArea" id="inputContent" value="">
            <input type="hidden" name="section" id="section" value="">
            <input type="submit" id="saveSampleSubmit" hidden>
        </form>
        <select class="form-control-toolBar" id="selectedSection">
            <option th:each="section : ${sections}"
                    th:text="${section.name}"
                    th:value="${section.id}"
            th:selected="${section==sample.section}"></option>
        </select>
        <button class="okButton" onclick="saveSample()">Save</button>
    </div>
    <div style="height: 30px">

    </div>
</div>
<div th:replace="~{footer::foot}"></div>
<script type="text/javascript">

    function saveSample() {
        document.getElementById('inputContent').value=document.getElementById('contentArea').innerHTML
        document.getElementById('section').value=document.getElementById('selectedSection').value
        document.getElementById('saveSampleSubmit').click();
    }

    $(document).ready(function () {
        $('#apply_change').click(function () {
            var selectedText = window.getSelection().toString();
            console.log(selectedText)
            if (selectedText) {
                var elementType = $('select[name="element_type"]').val();
                var elementPosition = $('select[name="element_position"]').val();
                var newElement = document.createElement(elementType);
                newElement.textContent = selectedText;
                newElement.style = elementPosition;
                var range = window.getSelection().getRangeAt(0);
                var parent = range.startContainer.parentElement.parentElement;
                if(parent.id ==='contentArea'){
                    var editDiv = document.createElement('div');
                    editDiv.contentEditable='true'
                    editDiv.appendChild(newElement)
                    parent.replaceChild(editDiv, range.startContainer.parentElement)
                }else
                parent.replaceChild(newElement, range.startContainer.parentElement)

            }
        });
    })

    function addCode() {
        var content = document.getElementById('contentArea');
        var textArea = document.createElement('textarea');
        var pre = document.createElement('pre');
        pre.style.display = 'none'
        var code = document.createElement('code');
        var id = Date.now().toString(36) + Math.random().toString(36).substring(2);
        pre.id = 'pre' + id;
        code.id = 'code' + id;
        pre.appendChild(code)
        textArea.id = 'textArea' + id;
        textArea.name = 'textArea' + id;
        textArea.setAttribute('onfocus', 'setHeight(this)')
        textArea.setAttribute('oninput', 'setHeight(this)')
        content.appendChild(textArea)
        content.appendChild(pre)
        var div = document.createElement('div');
        div.className = 'space-between'
        var buttonAddText = document.createElement('button');
        buttonAddText.setAttribute('onclick', 'addText(this)');
        buttonAddText.className = 'okButton';
        buttonAddText.textContent = '+ Text'
        var buttonView = document.createElement('button');
        buttonView.id = 'buttonView'+id;
        buttonView.className = 'okButton'
        buttonView.textContent = 'View'
        buttonView.setAttribute('onclick',"displayCode('"+id+"')")
        var newDiv = document.createElement('div')
        newDiv.style.display='flex'
        newDiv.id='deleteDiv'+id
        var deleteButton = document.createElement('button');
        deleteButton.textContent='Delete'
        deleteButton.className='button delete'
        deleteButton.setAttribute('onclick',"deleteCode('"+id+"')")
        newDiv.append(buttonView,deleteButton)
        var buttonEdit = document.createElement('button');
        buttonEdit.id = 'buttonEdit'+id;
        buttonEdit.className = 'okButton'
        buttonEdit.textContent = 'Edit'
        buttonEdit.style.display = 'none'
        buttonEdit.setAttribute('onclick',"displayTextArea('"+id+"')")
        div.append(buttonAddText, newDiv, buttonEdit)
        content.appendChild(div)

    }

    function displayCode(id) {
        document.getElementById('pre'+id).style.display='block';
        document.getElementById('buttonView'+id).style.display='none'
        document.getElementById('textArea'+id).style.display='none'
        document.getElementById('buttonEdit'+id).style.display='block'
        displayStyledCode(document.getElementById('textArea'+id).value,id)
        var buttonView = document.getElementById('buttonView'+id);
        var htmlToMove = buttonView.outerHTML;
        var range = document.createRange();
        var toMove = range.createContextualFragment(htmlToMove);
        var divToDelete = document.getElementById('deleteDiv'+id);
        divToDelete.parentNode.appendChild(toMove)
        divToDelete.remove()
    }

    function addDeleteButton(id) {
        var newDiv = document.createElement('div')
        newDiv.style.display='flex'
        newDiv.id='deleteDiv'+id
        var deleteButton = document.createElement('button');
        deleteButton.textContent='Delete'
        deleteButton.className='button delete'
        deleteButton.setAttribute('onclick',"deleteCode('"+id+"')")
        var buttonView = document.getElementById('buttonView'+id);
        var htmlToMove = buttonView.outerHTML;
        var range = document.createRange();
        var toMove = range.createContextualFragment(htmlToMove);
        newDiv.appendChild(toMove)
        newDiv.appendChild(deleteButton)
        buttonView.parentElement.appendChild(newDiv)
        buttonView.remove()
    }

    function deleteCode(id) {
        document.getElementById('deleteDiv'+id).parentElement.remove();
        document.getElementById('pre'+id).remove();
        document.getElementById('textArea'+id).remove();
    }

    function displayTextArea(id) {
        document.getElementById('pre'+id).style.display='none';
        document.getElementById('buttonView'+id).style.display='block'
        document.getElementById('textArea'+id).style.display='block'
        document.getElementById('buttonEdit'+id).style.display='none'
        addDeleteButton(id)
        resetTextArea(id)
    }

    function displayStyledCode(code,id) {
        document.getElementById('code'+id).innerHTML = code
        console.log(code)
        hljs.highlightAll();
    }
    function resetTextArea(id) {
        document.getElementById('textArea'+id).value= document.getElementById('code'+id).innerText
    }

    function addText(thiz) {
        var div = document.createElement('div');
        div.setAttribute('contenteditable', 'true')
        div.className='editable'
        var p = document.createElement('p');
        p.textContent = 'Paste your text here'
        div.appendChild(p)
        insertAfter(div, thiz.parentNode)
        addListenerOnEditable()
    }

    function addListenerOnEditable(){
        var editableDivs = document.querySelectorAll('.editable');

        editableDivs.forEach(function (div){
            div.addEventListener('keydown',function (e){
                if(div.innerText==='' && e.key==='Backspace'){
                    e.preventDefault();
                    div.remove();
                }
            })
        })
    }

    addListenerOnEditable()

    function setHeight(thiz) {
        thiz.style.height = "";
        thiz.style.height = thiz.scrollHeight + "px"
    }

    function insertAfter(newNode, existingNode) {
        existingNode.parentNode.insertBefore(newNode, existingNode.nextSibling);
    }

    hljs.highlightAll();
</script>
</body>
</html>