<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
</head>
<body>
    <header th:fragment="header" class="header">
        <div class="row p-3">
            <div>
                <img style="margin-top: 12px;margin-left: 10px" th:src="@{/images/Logo.svg}">
            </div>
            <div class="right-menu">
                <a class="menuItem" th:href="@{/}">Explore</a>
                <a class="menuItem" sec:authorize="isAuthenticated()" th:href="@{/storage}">My storage</a>
                <a class="menuItem" href="#">FAQ</a>
                <a sec:authorize="!isAuthenticated()" class="menuItem" th:href="@{/login}">Sign In</a>
                <a sec:authorize="isAuthenticated()" class="menuItem" href="javascript: document.logoutForm.submit()"
                   th:text="'Log out'"></a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Log out">
                </form>
            </div>
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="sidebar">
            <nav>
                <ul>
                    <li>
                        <a class="burgerItem" th:href="@{/}">Explore</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="burgerItem" sec:authorize="isAuthenticated()" th:href="@{/storage}">My storage</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a class="burgerItem" href="#">FAQ</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a sec:authorize="!isAuthenticated()" class="burgerItem" th:href="@{/login}">Sign In</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a sec:authorize="isAuthenticated()" class="burgerItem" href="javascript: document.burgerLogoutForm.submit()"
                           th:text="'Log out'"></a>
                        <form name="burgerLogoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Log out">
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>