<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/myJs/highlight.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/Main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
</head>
<body>
<div class="container body">
    <div th:replace="~{header::header}"></div>
    <div class="justify-center m-top-6">
        <div>
            <img class="slideArrow" id="slideLeft" th:src="@{/images/left_scroll.svg}">
        </div>
        <div id="scroller" class="wrapper">
            <div onclick="location.href='/view'" class=" wrappedCard">
                <div class="cardHeader">
                    <div class="cardTitle">
                        Java pure code
                    </div>
                    <div class="cardLogo">
                        <img class="javaLogoSize" th:src="@{/images/JavaLogo.png}">
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="sampleNumber">
                        74
                    </div>
                    <div class="sample">
                        samples
                    </div>
                    <div class="cardArrow">
                        <img th:src="@{/images/rightArrow.svg}">
                    </div>
                </div>
            </div>
            <div onclick="location.href='/view'" class=" wrappedCard">
                <div class="cardHeader">
                    <div class="cardTitle">
                        Spring framework
                    </div>
                    <div class="cardLogo">
                        <img class="springLogoSize" th:src="@{/images/springLogo.png}">
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="sampleNumber">
                        74
                    </div>
                    <div class="sample">
                        samples
                    </div>
                    <div class="cardArrow">
                        <img th:src="@{/images/rightArrow.svg}">
                    </div>
                </div>
            </div>
            <div onclick="location.href='/view'" class=" wrappedCard">
                <div class="cardHeader">
                    <div class="cardTitle">
                        SQL
                    </div>
                    <div class="cardLogo">
                        <img class="javaLogoSize" th:src="@{/images/dbLogo.png}">
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="sampleNumber">
                        74
                    </div>
                    <div class="sample">
                        samples
                    </div>
                    <div class="cardArrow">
                        <img th:src="@{/images/rightArrow.svg}">
                    </div>
                </div>
            </div>
            <div onclick="location.href='/view'" class=" wrappedCard">
                <div class="cardHeader">
                    <div class="cardTitle">
                        Maven
                    </div>
                    <div class="cardLogo">
                        <img class="mavenLogoSize" th:src="@{/images/maven.png}">
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="sampleNumber">
                        74
                    </div>
                    <div class="sample">
                        samples
                    </div>
                    <div class="cardArrow">
                        <img th:src="@{/images/rightArrow.svg}">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img class="slideArrow" id="slideRight" th:src="@{/images/right_scroll.svg}">
        </div>
    </div>
</div>
<div th:replace="~{footer::foot}"></div>
</body>
</html>