<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/myJs/highlight.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/Main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
</head>
<body>
<div class="container body">
    <div th:replace="~{header::header}"></div>
    <div class="justify-center m-top-6">
        <div>
            <img class="slideArrow" id="slideLeft" th:src="@{/images/left_scroll.svg}">
        </div>
        <div id="scroller" class="wrapper">
            <div th:each="section : ${sections}"
                 th:data-url="'section/'+${section.name}"
                 onclick="location.href=this.getAttribute('data-url')" class=" wrappedCard">
                <div class="cardHeader">
                    <div class="cardTitle" th:text="${section.sectionHeader}">
                    </div>
                    <div th:if="${!isMobile}" class="cardLogo">
                        <img th:style="${'width:'+section.imageWidth+'px;height:'+section.imageHeight}+'px'"
                             th:src="@{${'/getImage?id='+section.sectionImage.id}}">
                    </div>
                    <div th:if="${isMobile}" class="cardLogo">
                        <img th:style="${'width:'+section.imageWidth*0.6+'px;height:'+section.imageHeight*0.6}+'px'"
                             th:src="@{${'/getImage?id='+section.sectionImage.id}}">
                    </div>
                </div>
                <div class="cardFooter">
                    <div class="sampleNumber" th:text="${section.samples.size()}">
                    </div>
                    <div class="sample">
                        samples
                    </div>
                    <div class="cardArrow">
                        <img th:src="@{/images/rightArrow.svg}">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img class="slideArrow" id="slideRight" th:src="@{/images/right_scroll.svg}">
        </div>
    </div>
</div>
<div th:replace="~{footer::foot}"></div>
</body>
</html>