<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/myJs/highlight.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/Main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
</head>
<style>
    .tr:hover {
        cursor: pointer;
        background-color: #2a2626 !important;
    }
</style>
<body>
<div class="container body">
    <div th:replace="~{header::header}"></div>
    <form th:action="@{/section/{id}/search(id=${section})}">
        <div class="justify-center m-top-3 m-bottom-1">
            <div>
                <input type="text" name="searchWords" id="searchBox" class="searchBox">
            </div>
            <div class="searchBoxIcon">
                <img onclick="searchSamples()" style="padding: 7px;width: 18px;height: 18px" th:src="@{/images/search_Icon.svg}">
            </div>
            <input type="submit" id="search" hidden>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Author</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        <tr class="tr" th:onclick="'window.location=\'/view/'+${sample.id}+'\''" th:each="sample : ${samples}">
            <td th:text="${sample.user.email.replaceAll('@.*','')}">Gloria</td>
            <td th:text="${sample.innerHtml}"></td>
        </tr>

        </tbody>
    </table>
    <div th:replace="~{pagination :: controls(page=${samples})}"></div>
</div>
<div th:replace="~{footer::foot}"></div>
<script>
    function searchSamples() {
        document.getElementById('search').click();
    }
</script>
</body>
</html>