<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="controls"
     class="paginationArea"
     th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder)}">
    <div class="smallPagination">
        <div>
        <a id="pagination-mobile-previous"
           th:href="${page.isFirst()}?'javascript:void(0)':${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page.number - 1).toUriString()}"
           class="btn btn-primary"
           th:classappend="${page.isFirst()?'disabled':''}"
           th:disabled="${page.isFirst()}">
            Previous
        </a>
        </div>
        <div>
        <a id="pagination-mobile-next"
           th:href="${page.isLast()}?'javascript:void(0)':${urlBuilder.fromCurrentRequest().replaceQueryParam('page', page.number + 1).toUriString()}"
           class="btn btn-primary"
           th:classappend="${page.isLast()?'disabled':''}"
           th:disabled="${page.isLast()}">
            Next
        </a>
        </div>
    </div>
</div>
</body>
</html>