<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/myJs/highlight.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/myJs/Main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Alert.css}"/>
</head>
<body>
<div class="containerLogin">
    <div class="wrap-login100">
        <form class="login100-form" th:action="@{/reset}" method="post">
            <div class="login100-form-logo">
                <img th:src="@{/images/Logo.svg}">
            </div>
            <div>
                <p style="text-align: center;color: aliceblue;">Set your new password</p>
            </div>
            <div class="form-floating">
                <input autocomplete="false" required type="password" class="form-control wrap-input100" name="password" id="password">
                <label style="color: white" for="password">Password</label>
            </div>
            <div th:if="${incorrectPasswordPattern}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span style="font-size: 12px" id="message">min 8 symbols, 1 Uppercase letter, 1 number</span>
                <button type="button" onclick="closeAlert(this)" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
            <div class="container-login100-form-btn" style="justify-content: center !important;">

                <div class="loginHintContainer mobileTop20">
                    <button class="login100-form-btn">Reset</button>
                </div>
            </div>
            <input type="hidden" name="email" th:value="${email}">
        </form>
    </div>
</div>
<script>
    function closeAlert(o) {
        o.parentNode.parentNode.removeChild(o.parentNode)
    }
</script>
</body>
</html>