<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My code</title>
    <script type="text/javascript" th:src="@{/highlight.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/androidstudio.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/myCss/Main.css}"/>
</head>
<body>
<div class="right">
    <input type="text" class="searchBox">
</div>
<div class="searchBoxIcon">
    <img style="padding: 10px" th:src="@{/images/search_Icon.svg}">
</div>
</body>
</html>